[Unit]
Description=Set Onecloud Led

[Service]
Type=oneshot

ExecStart=echo 0 > /sys/class/leds/onecloud\:green\:alive/brightness
ExecStart=echo 0 > /sys/class/leds/onecloud\:red\:alive/brightness
ExecStart=echo 0 > /sys/class/leds/onecloud\:blue\:alive/brightness
ExecStart=echo 1 > /sys/class/leds/onecloud\:green\:alive/brightness


[Install]
WantedBy=multi-user.target
