[Unit]
Description=Resize the root filesystem to fill partition

[Service]
Type=oneshot
ExecStart=echo 1 > /sys/class/leds/c1\:blue\:alive/brightness

[Install]
WantedBy=multi-user.target
